$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-body: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-dark-grey: #999;
$color-dark-grey-2: rgb(31, 29, 29);

$text-color: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

$horizontal-gutter: 4rem;
$vertical-gutter: 8rem;